<%= form_for @beverage do |f| %>
<p>
  <%= f.label :drink_name %>
  <%= f.text_field :drink_name %>
</p>
  <p>
    <%= f.label :alcohol %>
    <%= f.text_field :alcohol %>
  </p>
  <p>
    <%= f.submit 'Add beverage' %>
  </p>
<% end %>

<% @beverages.each do |beverage| %>
<ul>
  <li>
    <%= link_to "#{beverage.drink_name}", beverage_path(beverage) %>, <%= beverage.alcohol %>
  </li>
</ul>
<% end %>